<%- include('../partials/head') %>

  <body>
    
     <!-- Form for user to sign up in the website -->
    <form action="/auth/sign-up" method="POST" id="signUpForm">

      <h1 class="titlSignUp">Create a new account!</h1>
      
      <div class="username">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      </div>

      <div class="password">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      </div>

      <div class="confirmPassword">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      </div>

      <button type="submit" id="btnSignUp">Sign up</button>
    </form>
  </body>
</html>