<%- include('../partials/head') %>

  <body>
    
    <!-- Form for user to sign in in the website -->
    <form action="/auth/sign-in" method="POST" id="signInForm">
      <h1 class="titlSignIn">Sign in</h1>

      <div class="username">
      <label for="username">Username:  </label>
      <input type="text" name="username" id="username" />
      </div>

      <div class="password">
      <label for="password">Password:  </label>
      <input type="password" name="password" id="password" />
      </div>

      <button type="submit" id="btnSignIn">Sign in</button>
    </form>
  </body>
</html>