<%- include('../partials/head') %>

  <body>
    
     <!-- Form for user to sign up in the website -->
    <form action="/auth/sign-up" method="POST" id="signUpForm">

      <h1 class="titlSignUp">Create a new account!</h1>
      
      <div class="username">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" required />
      </div>

      <div class="name">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      </div>

      <div class="phone">
      <label for="phone">Phone:</label>
      <input type="tel" name="phone" id="phone" required />
      </div>

      <div class="age">
      <label for="phone">Age:</label>
      <input type="number" name="age" id="age" required />
      </div>

      <div class="password">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      </div>

      <div class="confirmPassword">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required />
      </div>

      <button type="submit" id="btnSignUp">Sign up</button>
    </form>
  </body>
</html>