<%- include('../partials/head') %>

<!-- form for user to add product -->
<form action="/products" method="POST" class="container mt-4" style="max-width: 600px;" enctype="multipart/form-data" id="formAdd">
    <h2 class="mb-4" id="addProductTitle">Add New Product</h2>

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title2" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control" rows="3" required></textarea>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price (BHD)</label>
        <input type="number" name="price" id="price" class="form-control" min="0" required />
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Upload an Image</label>
        <input type="file" accept="image/*" name="image" id="image" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary" id="btnAppProduct">Add Product</button>

</form>

</body>
</html>